@font-face {
  font-family: 'Helvetica';
  src: url('~assets/fonts/Helvetica.otf') format("opentype");
}

body {
  font-family: 'Helvetica',sans-serif;
}

// app global css in Stylus form
.light-background {
  background-image: url(https://assets-global.website-files.com/5d80307810123f5ffbb34d6e/5e14f5aab86f100ee88ceae8_dot_background.svg);
  background-size: 15px;
}

.pin-panel {
  background: #FFFFFF;
  padding-top: 4%;
}

#pin-title {
  text-align: center;
  color: #1E1E1E;
}

#pin-subtitle {
  text-align: center;
  color: #1E1E1E;
  margin-top: -5%!important;
}

.pin-button-color {
  color: #1E1E1E;
}

.red-pink-button {
  background-image: linear-gradient(141deg,#ff006a,#ff5e00);
  border-radius: 6px;
}

.purple-blue-button {
  background-image: linear-gradient(141deg,#7b00ff,#0264ff);
  border-radius: 6px;
}

.outline-button {
  color: #9A9A9A
  border-radius: 6px;
}