// app global css in Stylus form
.light-background {
  background-image: url(https://assets-global.website-files.com/5d80307810123f5ffbb34d6e/5e14f5aab86f100ee88ceae8_dot_background.svg);
  background-size: 15px;
}