// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #FFFFFF
$secondary = #9A9A9A
$accent    = #9C27B0

$dark      = #333

$positive  = #9DFF5C
$negative  = #FF838B
$info      = #6BBAFF
$warning   = #EF5CFF
// darkBackground => https://assets-global.website-files.com/5d80307810123f5ffbb34d6e/5e141dda2c2877c896bc174b_dotbg2.png, https://assets-global.website-files.com/5d80307810123f5ffbb34d6e/5e140220eb497ca437978219_dotBG.png
// lightBackground => https://assets-global.website-files.com/5d80307810123f5ffbb34d6e/5e14f5aab86f100ee88ceae8_dot_background.svg